<% if @place.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@place.errors.count, "error") %>
		prohibited this place from being saved:</h2>
	<p>There was problems with the folowing fields</p>
	<ul>
	<% @place.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
	</div>
<% end %>
